<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">eControl</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/uploadExcelLote']"
            [routerLinkActive]="['active']"
            >Subir Mediciones</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/ingresarCodigoPrescinto']"
            [routerLinkActive]="['active']"
            >Registro de Prescintos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/detallesCodigoPrescinto']"
            [routerLinkActive]="['active']"
            >Lista General</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="_usuarioService.logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
