<app-slide [titulo]="tituloSlide" [subtitulo]="subtituloSlide"></app-slide>

<section class="container mt-3">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Ingrese codigo del medidor a buscar"
      (paste)="buscar($event.clipboardData.getData('text/plain'))"
      (keyup)="buscar(inputBuscar.value)"
      #inputBuscar
      autofocus
    />
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-12 col-sm-6 my-2">
      <div class="card">
        <div class="card-header">
          <h4>Datos Genericos</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Codigo Medidor</label>
            <input
              type="input"
              class="form-control"
              [(ngModel)]="loteMedicion.codigo_medidor"
            />
          </div>
          <div class="form-group">
            <label>Codigo Prescinto</label>
            <input
              type="input"
              class="form-control"
              [(ngModel)]="loteMedicion.codigo_prescinto"
              #inputCodigoPrescinto
              (paste)="
                guardarCodePrescinto($event.clipboardData.getData('text/plain'))
              "
            />
          </div>
          <div class="form-group">
            <label>Numero de Certificado</label>
            <input
              type="input"
              class="form-control"
              [(ngModel)]="loteMedicion.certificado"
            />
          </div>
          <div class="form-group">
            <label>Fecha de Ejecucion</label>
            <input
              type="input"
              class="form-control"
              [(ngModel)]="loteMedicion.fecha_ejecucion"
            />
          </div>
          <div class="form-group" *ngIf="loteMedicion.estado != ''">
            <label>Estado</label>
            <div
              class="alert"
              [ngClass]="{
                'alert-success':
                  loteMedicion.estado.toLowerCase() == 'conforme',
                'alert-danger': loteMedicion.estado.toLowerCase() != 'conforme'
              }"
              role="alert"
            >
              <h4 class="alert-heading">{{ loteMedicion.estado }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 my-2">
      <div class="card">
        <div class="card-header">
          <h4>Datos de Medicion</h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Numero de Banco</label>
            <input
              type="input"
              class="form-control"
              [(ngModel)]="loteMedicion.nro_banco"
            />
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Q3 (L/h)</label>
                  <input
                    type="input"
                    class="form-control"
                    [(ngModel)]="loteMedicion.q3"
                  />
                </div>
                <div class="form-group">
                  <label>Q2 (L/h)</label>
                  <input
                    type="input"
                    class="form-control"
                    [(ngModel)]="loteMedicion.q2"
                  />
                </div>
                <div class="form-group">
                  <label>Q1 (L/h)</label>
                  <input
                    type="input"
                    class="form-control"
                    [(ngModel)]="loteMedicion.q1"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Error Q3 (L/h)</label>
                  <input
                    type="input"
                    class="form-control"
                    [(ngModel)]="loteMedicion.error_q1"
                  />
                </div>
                <div class="form-group">
                  <label>Error Q2 (L/h)</label>
                  <input
                    type="input"
                    class="form-control"
                    [(ngModel)]="loteMedicion.error_q2"
                  />
                </div>
                <div class="form-group">
                  <label>Error Q1 (L/h)</label>
                  <input
                    type="input"
                    class="form-control"
                    [(ngModel)]="loteMedicion.error_q3"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="loteMedicion.ensayo_presion != ''">
            <label>Ensayo de presion estatica</label>
            <div
              class="alert"
              [ngClass]="{
                'alert-success':
                  loteMedicion.ensayo_presion.toLowerCase() == 'sin fuga',
                'alert-danger':
                  loteMedicion.ensayo_presion.toLowerCase() != 'sin fuga'
              }"
              role="alert"
            >
              <h4 class="alert-heading">{{ loteMedicion.ensayo_presion }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row"></div>
</section>
